/* VARS */

:root {
    --black: #282828;
    --white: #ffffff;
    --jazz-color: #eb7927;
    --classical-color: #657eb4;
    --pop-color: #d86a91;
}

/* FONTS */

@font-face {
    src: url(../fonts/SF-Pro.ttf);
    font-family: 'san-francisco';
}

@font-face {
    src: url(../fonts/NewYork.ttf);
    font-family: 'new-york';
}

/* MAIN CODE */

body {
    background-color: var(--jazz-color);
    font-family: san-francisco, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    gap: 1rem;
}
/* info overlay */
#info {
    height: 2rem;
    width: 2rem;
}

#info:hover {
    cursor: pointer;
}

#full-screen-info {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center;
}

#info-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: fit-content;
    padding: 5vw;
    height: fit-content;
    border-radius: 30px;
    margin: 5rem 0 0 0;
}

#info-panel p {
    margin: 0 0 1rem 0;
}

#heading-and-x {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

#info-heading {
    font-family: san-francisco, sans-serif;
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 600;
}

#x {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

#info-panel-record {
    width: 10rem;
    margin: 0 0 1rem 0;
    align-self: center;
}



main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 70%;
    margin-top: 10vh;
}

h1 {
    text-align: center;
    opacity: 80%;
    font-family: san-francisco, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    
}

/* LEFT SIDE */

#left {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#record-and-arm {
    position: relative;
}

#record {
    /* see js for control */
    transition: transform 1s ease-out;
    width: 20vw;
    height: 20vw
}

#record-arm {
    position: absolute;
    top: -8vw;
    left: -10vw;
    transform: rotate(210deg);
    z-index: 2;
    width: 20vw;
    transition: transform 0.8s ease-in-out;

}

#record-info {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 40vh;
}

#info-and-button {
    display: flex;
    flex-direction: row;
    margin: 0 0 5% 0;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    gap: 2rem;
}

#main-info-group {
    display: flex;
    flex-direction: column;
}

#main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
}

#controls-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}

#title-container {
    font-size: 4vw;
    font-family: new-york;
    margin: 0 0 2rem 0;
}

#link-icon {
    width: 3.4vw;
}

#link-icon:hover {
    filter: invert();
}

#artist-container {
    font-size: 3vw;
    font-family: san-francisco, sans-serif;
    opacity: 80%;
    font-weight: 800;
}

#pause-button {
    background: none;
    border: none;
}

#pause-button:hover {
    cursor: pointer;
}

#test {
    width: 100%;
}

#slider-and-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#slider-input-output {
    position: relative;
    width: 60%;
}

#slider {
    appearance: none;
    border-radius: 50%;
    margin: 0 0 1rem 0;
    width: 100%;
    background-color: transparent;
}

#slider-value {
    position: absolute;
    top: 0.1rem;
    font-weight: 500;
    pointer-events: none;
    font-size: 1.2rem;
    color: var(--jazz-color);
}

@-moz-document url-prefix() {
    #slider-value {
        top: 0rem;
    }
}

#slider::-webkit-slider-runnable-track {
    background: var(--black);
    border-radius: 10px;
    height: 0.4rem;
}

#slider::-moz-range-track {
    background: var(--black);
    border-radius: 10px;
    height: 0.4rem;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 5rem;
    height: 2rem;
    background: var(--white);
    cursor: ew-resize;
    border-radius: 1rem;
    margin-top: -0.8rem;
    box-shadow: 0px 2px 4px var(--black);
    border: none;
}

#slider::-moz-range-thumb {
    appearance: none;
    width: 5rem;
    height: 2rem;
    background: var(--white);
    cursor: ew-resize;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px var(--black);
    border: none;
}

#decade-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 500;
}

#genre-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

input[type="radio"] {
    display: none;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
}

label:hover {
    background-color: white;
    color: var(--black);
    box-shadow: 0px 2px 4px var(--black);
}

label[for="Jazz"].current-genre {
    color: var(--jazz-color);
}

label[for="Popular"].current-genre {
    color: var(--pop-color);
}

label[for="Classical"].current-genre {
    color: var(--classical-color);
}

.current-genre {
    background-color: white;
    box-shadow: 0px 2px 4px var(--black);
    cursor: default;
}

/* INVISIBLE AUDIO CONTAINER */
#audio-container {
    display: none
}

/* RIGHT SIDE */

#right {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    font-size: 1.2rem;
}

#up-next-container {
    border-left: 0.2vw solid var(--black);
    padding: 2rem;
}

#up-next {
    font-size: 4vw;
    margin: 0 0 3vw 0;
    font-weight: 500;
    font-family: san-francisco, sans-serif;
}

#up-next-title {
    font-size: clamp(0rem, 2vw, 1.5rem);
}

#up-next-artist {
    padding: 0.3rem 0 1rem 0;
    font-weight: 600;
    font-size: clamp(0rem, 1.4vw, 1.2rem);
}

#up-next-songs p:hover {
    cursor: pointer;
}

/* MOBILE VIEW */

@media (max-width: 580px) {

    #info-panel {
        width: 60%;
        padding: 10vw;;
    }

    #info-heading {
        font-size: 9vw;
    }

    #x {
        width: 8vw;
        height: 8vw;
    }

    main {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin: 5vh 0 0 0;
        height: auto;
    }

    #left {
        grid-row: 1;
        justify-content: space-between;
    }

    #record-info {
        flex-direction: column;
        width: 100%;
    }

    #record {
        justify-self: center;
        width: 60vw;
        height: 60vw;
        margin-bottom: 10vh;
    }

    #record-arm {
        width: 50vw;
        height: 50vw;
        top: -16vw;
        left: 35vw;
        rotate: 100deg;
        overflow: visible;
    }

    #main-info {
        width: 90%;
        height: 10vh;
    }

    #main-info-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    #title-container {
        font-size: 8vw;
    }

    #artist-container {
        font-size: 5vw;
    }

    #info-and-button {
        flex-direction: column;
        align-items: center;
        margin: 0 0 10vh 0;
    }

    #controls-group {
        flex-direction: row-reverse;
        width: 95%;
        justify-content: space-between;
        margin: 15vw 0 0 0;
    }

    #link-icon {
        width: 8vw;
    }

    #slider-input-output {
        width: 75%;
    }

    #slider-and-range {
        margin: -10vw 0 7vw 0;
    }

    #decade-range {
        width: 75%;
        margin: 1rem 0 0 0;
    }

    #genre-selector {
        width: 75%;
    }

    #right {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        margin: 3rem 6vw;
    }

    #up-next-container {
        border: none;
    }

    #up-next {
        font-size: 8vw;
        margin: 0 0 2rem 0;
    }

    #up-next-title {
        font-size: 4vw;
        margin: 1rem 0 0 0;
    }

    #up-next-artist {
        font-size: 3vw;
    }
}